<div id="navigation">
    <div class="profile-picture">

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">@Html.TextBox("Name", User.Identity.Name)</span>
        </div>
    </div>
</div>

<ul class="nav metismenu" id="side-menu">
    <li>
        <a href="#!/list"> <span class="nav-label">Users</span> <span class="label label-success pull-right">Start</span> </a>
    </li>
    <li>
        <a href="#!/listRoles"> <span class="nav-label">Roles</span> </a>
    </li>
</ul>