<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                <u>Roles</u>
            </h2>
        </div>
    </div>
</div>
<div class="content animate-panel" ng-controller="rolesController">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <p class="text-right">
                        <a class="btn btn-primary" type="button" href="#!/CreateRole">Add Role</a>
                    </p>
                    <div id="tblSubs" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="no-sort" style="width: 218px;"></th>
                                </tr>
                            </thead>
                            <tbody data-ng-repeat="role in roles">
                                <tr>
                                    <td>{{role.Name}}</td>
                                    <td>
                                        <a class="btn btn-primary" type="button" href="#!/EditRole/{{role.Id}}">Edit</a>
                                        <a class="btn btn-primary" ng-click="deleteRole(role.Id)">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
